body {
	font-family: 'Libre Franklin', sans-serif;
}

h2,
h3,
h4,
h5,
h6,

h1 {
	font-family: 'Martel', serif;
}

.navbar-brand img{
	width:100px;
}
#footer {background-color:blue; color:#fff} 

#lowerfooter {background-color:darkblue} 
#lowerfooter i {font-size:65px; color:#fff; margin:24px 16px 24px 16px  }