body {
	font-family: 'Libre Franklin', sans-serif;
}

h2,
h3,
h4,
h5,
h6,

h1 {
	font-family: 'Martel', serif;
}

.navbar {background-color:#fff;}
.navbar-brand img{
	width:100px;
}
#footer {background-color:blue; color:#fff } 

#lowerfooter {background-color:darkblue} 
#lowerfooter i {font-size:65px; color:#fff; margin:24px 16px 24px 16px  }

.memberBenefits i {font-size:150px;color:#fff; margin: 24px 15px 24px 15px;
padding: 30px
}
.memberBenefits p {font-size:25px;color:#fff;margin-top:12px

}
.mBBox { background-color:#E97F0B;padding:20px;
 Border-radius:30px

}

